.content {
  font-family: Montserrat, sans-serif;
  background: var(--backgroud_color);
  width: 1200px;
  margin: 0 auto;
  padding-top: 80px;
}

a {
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin: 20px 0px;
}
caption {
	margin: 30px;
	font-weight: bold;
	color: #fb6d3a;
}

table {
  margin: 0 auto;
  border-collapse: separate;
  border: 2px solid black;
  width: 649px;
  height: 542px;
  box-sizing: border-box;
}

td,
th {
  text-align: center;
  width: 50px;
  height: 50px;
  color: transparent;
}

.color_1 {
  background: #808080;
}
.color_2 {
  background: #576212;
}
.color_3 {
  background: #23c234;
}
.color_4 {
  background: #fac234;
}
.color_5 {
  background: #0000ff;
}
.color_6 {
  background: #154312;
}

.go_home_link{
	margin: 30px auto;
	text-transform: uppercase;
	text-align: center
}