.content {
  font-family: Montserrat, sans-serif;
  background: var(--backgroud_color);
  width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin: 20px 0px;
}

table {
  padding-top: 40px;
  margin: 0 auto;
  border: 2px solid black;
  width: 649px;
  height: 542px;
  box-sizing: border-box;
}

caption {
	margin: 10px;
	font-weight: bold;
	color: #FB6D3A;
}

td,
th {
  border: 2px solid black;
  text-align: center;
  width: 50px;
  height: 50px;
  color: transparent;
}

.color_1 {
  background: rgb(128, 128, 128);
}
.color_2 {
  background: rgb(87, 98, 18);
}
.color_3 {
  background: rgb(35, 194, 52);
}
.color_4 {
  background: rgb(250, 194, 52);
}
.color_5 {
  background: rgb(0, 0, 255);
}
.color_6 {
  background: rgb(21, 67, 18);
}

.table_link{
	text-transform: uppercase;
	text-align: center
}